<!--   
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Patient Details</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenAddModal('save')">Add New Patient Record<span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchPatient(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient records..." required>
       </form>
    </div>
  </nav> -->
  <<div class="container" id="patient-page">>
  <div class="row">
    <div *ngFor="let patient of patients" class="col-md-6 col-xl-3">
       <div class="card m-b-30 text-light bg-dark">
          <div class="card-body row">
             <div class="col-6 card-title align-self-center mb-0 ">
                <h5>{{ patient.lastName + ", " + patient.firstName + " " + patient.middleName }}</h5>
                <p class="m-0">{{ patient.id }}</p>
             </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Address: {{ patient.address }}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i>Patient Since : {{ patient.dateCreated }}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
               <a (click)="onOpenModal(patient, 'view')" class="btn btn-primary tooltips" data-placement="top" data-original-title="View"><i class="fa fa-eye"></i> </a>
                <a (click)="onOpenModal(patient, 'update')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Update"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(patient, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>
<div class="row col-md-12">
   <div class="col-md-6">
      <button class="btn btn-outline-primary btn-lg" (click)="onOpenAddModal('save')">Add Patient</button>
   </div>
   
   <a class="nav-link" (click)="onOpenAddModal('save')">Add New Patient Record<span class="sr-only">(current)</span></a>
   <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchPatient(key.value)" #key="ngModel" ngModel
       name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search patient records..." required>
   </form>
</div>


<div class="modal fade" id="savePatientModal" tabindex="-1" role="dialog" aria-labelledby="savePatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="savePatientModalLabel">Save Patient Record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #saveForm="ngForm" (ngSubmit)="savePatient(saveForm)">
            <div class="form-group">
               <label for="lastName">Last Name</label>
               <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="lastName" required>
            </div>
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" ngModel name="firstName" class="form-control" id="firstName" placeholder="firstName" required>
             </div>
             <div class="form-group">
                <label for="middleName">Middle Name</label>
                <input type="text" ngModel name="middleName" class="form-control" id="middleName" placeholder="middleName" required>
             </div>
             <div class="form-group">
                <label for="address">Address</label>
                <input type="text" ngModel name="address" class="form-control" id="address" placeholder="address" required>
             </div>
            <div class="modal-footer">
               <button type="button" id="save-patient-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="saveForm.invalid" type="submit" class="btn btn-primary" >Save</button>
            </div>
            </form>
         </div>
      </div>
    </div>
</div>

<div class="modal fade" id="updatePatientModal" tabindex="-1" role="dialog" aria-labelledby="updatePatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updatePatientModalLabel">Update Patient Record for {{ forUpdate.firstName + " " + forUpdate.middleName + " " + forUpdate.lastName}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form autocomplete="off" #updateForm="ngForm">
                <div class="form-group">
                   <label for="lastName">Last Name</label>
                   <input type="text" ngModel="{{forUpdate.lastName}}" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Last Name">
                </div>
                <input type="hidden" ngModel="{{forUpdate.id}}" name="id" class="form-control" id="id" placeholder="ID">
                <div class="form-group">
                   <label for="firstName">First Name</label>
                   <input type="text" ngModel="{{forUpdate.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
                </div>
                <div class="form-group">
                   <label for="middleName">Middle Name</label>
                   <input type="text" ngModel="{{forUpdate.middleName}}" name="middleName" class="form-control" id="middleName" aria-describedby="emailHelp" placeholder="Middle Name">
                </div>
                <div class="form-group">
                   <label for="address">Address</label>
                   <input type="text" ngModel="{{forUpdate.address}}" name="address" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Address">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="updatePatient(updateForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
</div>

<div class="modal fade" id="deletePatientModal" tabindex="-1" role="dialog" aria-labelledby="deletePatientModelLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content text-dark">
         <div class="modal-header">
            <h5 class="modal-title" id="deletePatientModelLabel">Delete Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete patient record of {{ forDelete.firstName + " " + forDelete.middleName + " " + forDelete.lastName}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="deletePatient(forDelete.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="viewPatientModal" tabindex="-1" role="dialog" aria-labelledby="viewPatientModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="viewPatientModalLabel">Patient Record of {{ forView.firstName + " " + forView.middleName + " " + forView.lastName}}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form autocomplete="off" #viewForm="ngForm">
               <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input [disabled]=true type="text" ngModel="{{forView.lastName}}" name="lastName" class="form-control" id="lastName" aria-describedby="emailHelp" placeholder="Last Name">
               </div>
               <input type="hidden" ngModel="{{forView.id}}" name="id" class="form-control" id="id" placeholder="ID">
               <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input [disabled]=true type="text" ngModel="{{forView.firstName}}" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp" placeholder="First Name">
               </div>
               <div class="form-group">
                  <label for="middleName">Middle Name</label>
                  <input [disabled]=true type="text" ngModel="{{forView.middleName}}" name="middleName" class="form-control" id="middleName" aria-describedby="emailHelp" placeholder="Middle Name">
               </div>
               <div class="form-group">
                  <label for="address">Address </label>
                  <input [disabled]=true type="text" ngModel="{{forView.address}}" name="address" class="form-control" id="address" aria-describedby="emailHelp" placeholder="Address">
               </div>
               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>